<% content_for :css_extra do %>
	<%= stylesheet_link_tag    "ajuda", :media => "all" %>
<% end %>

<div class="container ajuda">
	<h1>Perguntas Frequentes</h1>

	<h2>Qual o prazo de entrega?</h2>
	<p>O prazo de entrega depende do destino. Ele pode variar e você deve verificá-lo no momento do checkout.</p>


	<h2>Esse site é de verdade?</h2>
	<p>Não. Esse site é usado como base para livros e cursos online sobre SEO e Google Analytics. Você pode usar o site a vontade, navegando pelas páginas, mas em momento nenhum conseguirá concluir um pagamento e efetivar uma compra.</p>
</div>